In [2]:
crime <- read.csv("http://datasets.flowingdata.com/crimeRatesByState-formatted.csv")
head(crime)#网上数据未失效方法

  state          murder forcible_rape robbery aggravated_assault burglary
1 United States  5.6    31.7          140.7   291.1               726.7
2 Alabama        8.2    34.3          141.4   247.8               953.8
3 Alaska         4.8    81.1           80.9   465.1               622.5
4 Arizona        7.5    33.8          144.4   327.4               948.4
5 Arkansas       6.7    42.9           91.1   386.8              1084.6
6 California     6.9    26.0          176.1   317.3               693.3
  larceny_theft motor_vehicle_theft
1 2286.3        416.7
2 2650.0        288.3
3 2599.1        391.0
4 2965.2        924.4
5 2711.2        262.1
6 1916.5        712.8

In [4]:
crime <- read.csv("dataset/crimeRatesByState-formatted.csv")
head(crime)#网上数据失效后的方法

  state          murder forcible_rape robbery aggravated_assault burglary
1 United States  5.6    31.7          140.7   291.1               726.7
2 Alabama        8.2    34.3          141.4   247.8               953.8
3 Alaska         4.8    81.1           80.9   465.1               622.5
4 Arizona        7.5    33.8          144.4   327.4               948.4
5 Arkansas       6.7    42.9           91.1   386.8              1084.6
6 California     6.9    26.0          176.1   317.3               693.3
  larceny_theft motor_vehicle_theft
1 2286.3        416.7
2 2650.0        288.3
3 2599.1        391.0
4 2965.2        924.4
5 2711.2        262.1
6 1916.5        712.8

In [7]:
#install.packages("aplpack")
library(aplpack)